services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: my_app
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db  # Important: use service name, not localhost

volumes:
  postgres_data: