<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="jd">
    <button id="submit">submit</button>
</body>
<script>
   let crftoken;
    fetch("http://127.0.0.1:9000/user/getcsrf/",{
        method: 'GET'
    })
    .then((response)=>response.json())
    .then((data)=>{ crftoken = data.crfToken;
        
    })
    .catch((error)=>{
        console.log(error)
    })
    document.getElementById("submit").addEventListener("click",()=>{
        fetch("http://127.0.0.1:9000/user/getcsrf/",{
        method: 'POST'
    })
    .then((response)=>response.json())
    .then((data)=>{ crftoken = data.crfToken;
        
    })
    .catch((error)=>{
        console.log(error)
    })
    })
</script>
</html> -->