<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
</body>
<script>
        access = localStorage.getItem("accessToken")
  
        fetch("http://127.0.0.1:9000/api/dashbord/",{
        method: 'GET',
        headers: {
             Authorization: `Bearer ${access}`
        },
    })
    .then((response)=>response.json())
    .then((data)=>{ console.log(data);
        
    })
    .catch((error)=>{
        console.log(error)
    })
</script>
</html>