<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="form">
        <input name="email" placeholder="email" />
        <input name="first_name" placeholder="firstname" />
        <input name="last_name" placeholder="lastname" />
        <input name="password1" placeholder="password1" />
        <input name="password2" placeholder="password2" />
        <button type="submit">submit</button>
    </form>
</body>
<script>
    let crftoken;
    fetch("http://127.0.0.1:9000/user/getcsrf/",{
        method: 'GET'
    })
    .then((response)=>response.json())
    .then((data)=>{ crftoken = data.crfToken;
        
    })
    .catch((error)=>{
        console.log(error)
    })
    document.getElementById("form").addEventListener("submit", (event) => {
        event.preventDefault();
        const formData = new FormData(document.getElementById("form"));
        const formdataobject = {}
        formData.forEach((value, key) => {
            formdataobject[key] = value;
        });
        fetch("http://127.0.0.1:9000/user/create/", {
            method: 'POST',
            headers: {
                "content-type": "application/json",
                'X-CSRFToken' : crftoken
            },
            body: JSON.stringify(formdataobject)
        })
            .then((response) => response.json())
            .then((data)=>{
                console.log("----------------->",data);
            })
            .catch((error) => console.error());
    })// Populate an object with form field names and values

</script>

</html>